name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "deploy-1.0.1" ]

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml  # Call the reusable workflow
    
  deploy:
    name: Deploy
    needs: build
    uses: ./.github/workflows/deploy.yml  # Call the deploy workflow
    secrets:
      PUBLIC_IP: ${{ secrets.PUBLIC_IP }}
      SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_LOGIN_PASSWORD: ${{ secrets.SSH_LOGIN_PASSWORD }}
      USERNAME: ${{ secrets.USERNAME }}
