name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "deploy-1.0.0" ]

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml  # Call the reusable workflow
    
  deploy:
    name: Deploy
    needs: build
    uses: ./.github/workflows/deploy.yml  # Call the deploy workflow
    secrets:
      BROGRAMMERS_VPN: ${{ secrets.BROGRAMMERS_VPN }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
      SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
      USERNAME: ${{ secrets.USERNAME }}
      WORK_FOLDER: ${{ secrets.WORK_FOLDER }}
